#root {
  height: 100%;
}

@font-face {
  font-family: 'yofont';    
  src: 
  url('//at.alicdn.com/t/font_1451735_m47s28so96n.woff2') format('woff2'),
  url('//at.alicdn.com/t/font_1451735_qf9331u2zni.ttf') format('truetype'),
 
}